h1, h2, h3, h4, h5, h6 {
    margin: 8px 0px 4px 0;
    font-family: 'Century Gothic';
    color:rgb(214, 0, 0);
}
h3 {
    font-size:28pt;
    font-family: 'Century Gothic';

}

a {
    text-decoration: none;
    color: white;
    font-size: 18pt;
    font-family: 'Century Gothic';

}
a:hover {
    color: rgb(207, 0, 0);
}

.donut {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background-color: #ff6961;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom:8px;
    width: 450px;

}

.content {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    background: linear-gradient(to right, #ff9966, #ff5e62); 
    padding: 50px 50px;
    border-radius: 5px;
    margin-bottom:8px;
    width: 450px;
}

